In [1]:
import numpy as np
import pandas as pd

# 準備

In [20]:
"""データの読込"""
train_df = pd.read_csv("../data/train.csv", index_col=0)
test_df  = pd.read_csv("../data/test.csv", index_col=0)

test_df.head()

,purpose,int.rate,installment,annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
40785,debt_consolidation,0.1543,225.68,16525.86,22.39,668,1960,43771.0,59.3,3,0,0
40786,debt_consolidation,0.1539,200.43,62412.73,21.84,660,5958,13607.0,87.0,1,1,0
40787,debt_consolidation,0.1503,252.35,42836.79,21.77,663,4950,1832.0,36.8,5,0,1
40788,debt_consolidation,0.1316,533.85,27821.44,10.60,690,1825,3597.0,60.0,0,0,0
40789,debt_consolidation,0.1506,484.50,91406.09,17.35,658,3253,12137.0,48.8,1,0,0

In [24]:
"""データの基本情報"""

print(f"訓練データセットの形状： {train_df.shape}")
print(f"テストデータセットの形状： {test_df.shape}")

print()
print("===基本統計量===")
print("<訓練データセット>")
display(train_df.describe())
print("<テストデータセット>")
display(test_df.describe())


print()
print("===要約情報===")
print("<訓練データセット>")
display(train_df.info())
print("<テストデータセット>")
display(test_df.info())

訓練データセットの形状： (40785, 13)
テストデータセットの形状： (40786, 12)

===基本統計量===
<訓練データセット>

,int.rate,installment,annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,40785.000000,40779.000000,4.078500e+04,40785.000000,40785.000000,40785.000000,40784.000000,40773.000000,40785.000000,40785.000000,40785.000000,40785.000000
mean,0.125414,302.329408,7.087001e+04,12.530579,709.393061,4736.481746,15426.217953,46.170792,1.543018,0.180998,0.039696,0.151870
std,0.030167,208.068861,6.524275e+04,6.831929,39.299297,2568.216636,22343.735674,28.257963,2.059082,0.513544,0.195246,0.358899
min,0.060800,15.680000,2.086720e+03,0.110000,615.000000,179.000000,1.000000,0.100000,0.000000,0.000000,0.000000,0.000000
25%,0.105300,157.400000,3.868640e+04,6.700000,679.000000,2965.000000,3433.000000,22.600000,0.000000,0.000000,0.000000,0.000000
50%,0.125200,241.140000,5.862029e+04,12.740000,703.000000,4304.000000,8441.000000,44.500000,1.000000,0.000000,0.000000,0.000000
75%,0.145100,391.995000,8.416863e+04,17.930000,737.000000,5896.000000,19085.500000,68.900000,2.000000,0.000000,0.000000,0.000000
max,0.800000,939.380000,1.913363e+06,29.930000,826.000000,16888.000000,356328.000000,108.300000,14.000000,3.000000,1.000000,1.000000

<テストデータセット>

,int.rate,installment,annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
count,40786.00000,40782.000000,4.078600e+04,40786.000000,40786.000000,40786.000000,40780.000000,40769.000000,40786.00000,40786.000000,40786.000000
mean,0.12544,300.582001,7.019006e+04,12.552485,709.242338,4685.578556,15249.915571,46.423736,1.52876,0.179694,0.038739
std,0.03087,208.178433,6.145846e+04,6.836684,39.320390,2540.021093,22273.623474,28.320324,2.08263,0.513398,0.192974
min,0.06160,15.680000,2.128340e+03,0.090000,616.000000,181.000000,1.000000,0.100000,0.00000,0.000000,0.000000
25%,0.10540,155.790000,3.855412e+04,6.700000,679.000000,2928.250000,3367.000000,23.000000,0.00000,0.000000,0.000000
50%,0.12510,240.410000,5.814888e+04,12.760000,704.000000,4253.000000,8258.000000,44.700000,1.00000,0.000000,0.000000
75%,0.14510,388.420000,8.379708e+04,17.950000,736.750000,5834.000000,18688.250000,69.100000,2.00000,0.000000,0.000000
max,0.90000,938.860000,2.000790e+06,29.950000,826.000000,17416.000000,296156.000000,109.600000,14.00000,3.000000,1.000000

===要約情報===
<訓練データセット>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 40785 entries, 0 to 40784
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   purpose            40012 non-null  object
 1   int.rate           40785 non-null  float64
 2   installment        40779 non-null  float64
 3   annual.inc         40785 non-null  float64
 4   dti                40785 non-null  float64
 5   fico               40785 non-null  int64
 6   days.with.cr.line  40785 non-null  int64
 7   revol.bal          40784 non-null  float64
 8   revol.util         40773 non-null  float64
 9   inq.last.6mths     40785 non-null  int64
 10  delinq.2yrs        40785 non-null  int64
 11  pub.rec            40785 non-null  int64
 12  not.fully.paid     40785 non-null  int64
dtypes: float64(6), int64(6), object(1)
memory usage: 4.4+ MB

None

<テストデータセット>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 40786 entries, 40785 to 81570
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   purpose            40282 non-null  object
 1   int.rate           40786 non-null  float64
 2   installment        40782 non-null  float64
 3   annual.inc         40786 non-null  float64
 4   dti                40786 non-null  float64
 5   fico               40786 non-null  int64
 6   days.with.cr.line  40786 non-null  int64
 7   revol.bal          40780 non-null  float64
 8   revol.util         40769 non-null  float64
 9   inq.last.6mths     40786 non-null  int64
 10  delinq.2yrs        40786 non-null  int64
 11  pub.rec            40786 non-null  int64
dtypes: float64(6), int64(5), object(1)
memory usage: 4.0+ MB

None